.footer{
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}
.footerRight{
    display: flex;
    column-gap: 150px;
}
.footerLeft__text{
    margin-top: 16px;
    max-width: 350px;
    font-size: 16px;
    line-height: 32px;
    color: #B9C0C1;

}
.footerIteam{
    list-style-type: none;
    margin: 10px;
}

.footerIteam > h3{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #001F29;
}
.footerIteam > a{
    font-size: 16px;
    line-height: 18px;
    color: #B9C0C1;
    
}